<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ayurvihar.somaiya.com.ayurvihar">

    <application
        android:name=".utility.PersitentDatabase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".underfive.UnderFiveHome"
            android:noHistory="true" />
        <activity android:name=".underfive.UnderFiveAddCr" />
        <activity
            android:name=".underfive.UnderFiveUpdateCr"
            android:noHistory="true" />
        <activity android:name=".underfive.UnderfiveScrollview" />
        <activity android:name=".underfive.UnderFiveHealthRep" />
        <activity android:name=".underfive.ProgressGraph" />
        <activity
            android:name=".underfive.UnderFiveSearchCr"
            android:noHistory="true" />
        <activity android:name=".underfive.UnderFiveVacDet" />
        <activity android:name=".underfive.UnderFiveDeleteRec" />
        <activity
            android:name=".underfive.UnderFiveSearch1Cr"
            android:noHistory="true" />
        <activity android:name=".underfive.UnderFiveSearch1CrOutput" />
        <activity android:name=".underfive.VaccineSummary" />
        <activity android:name=".underfive.MonthlyReport" />
        <activity android:name=".underfive.TrackingRecords"></activity>
    </application>

</manifest>