<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ayurvihar.somaiya.com.ayurvihar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utility.PersitentDatabase"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".underfive.UnderFiveHome"/>
        <activity android:name=".underfive.UnderFiveAddCr"/>
        <activity android:name=".underfive.UnderFiveUpdateCr"/>
        <activity android:name=".underfive.UnderfiveScrollview"/>
        <activity android:name=".underfive.UnderFiveHealthRep"
            android:parentActivityName=".underfive.UnderfiveScrollview"/>
        <activity android:name=".underfive.ProgressGraph"/>
        <activity android:name=".underfive.DailyUpdates"/>
        <activity android:name=".underfive.UnderFiveSearchCr"/>
    </application>

</manifest>